* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body{
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.dashboard {
  top: 0;
  left: 0;
  display:flex;
  background: #ffffff;
  width: 100%;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.warnabackground {
  position: absolute;
  inset: 0;
}

.background1 {
  background: rgba(30, 43, 89, 0.99);
  border-radius: 50%;
  width: 634px;
  height: 623px;
  left: 1000px;
  top: -33px;
  position: absolute;
  filter: blur(2px);
}

.background2 {
  background: rgba(77, 41, 41, 0.99);
  border-radius: 50%;
  width: 1239px;
  height: 1043px;
  position: absolute;
  left: -189px;
  top: 227px;
  filter: blur(2px);
}

.background3 {
  background: #d6d5d5;
  border-radius: 50%;
  width: 900px;
  height: 811px;
  position: absolute;
  left: 677px;
  top: 343px;
  filter: blur(2px);
}

.navigation{
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  position: relative;
}

.navigatin:visited{
  color: #FFFFFF;
}

.logo{
  color: #000000;
  text-align: left;
  font: 700 27px 'Poppins', sans-serif;
  position: absolute;
  left: 66px;
  width: auto;
  height: 35px;
}

.wrap-menu{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.menu{
  padding: 0px 24px;
  font: 500 23px "Poppins", sans-serif;
  color: #000000;
  text-decoration: none;
  text-align: left;
  position: relative;
  left:135px;
}

.icon{
  display: flex;
  justify-content: right;
  align-items: center;
}

.img-icon{
  padding:0px 4px;
  left:875x;
  position: relative;
}

.text1 {
  text-align: left;
  font: 700 65px "Poppins", sans-serif;
  position: absolute;
  left: 66px;
  top: 329px;
  width: 743px;
  height: 344px;
  color: #FFF;
}

.unfold {
  color: #FAFF00;
  font-family:"Poppins", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.line{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  opacity: 0.85;
  border-color: #FCECEC;
  width: 398.005px;
  height: 0px;
  left:66px;
  top:637px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(0.22deg) scale(1, 1);
}

.text2{
  width: 542px;
  height: 38px;
  top: 663px;
  left: 66px;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
}

.discover-with-us {
  color:#FFFFFF;
  top: 812px;
  left: 139px;
  font:700 30px"Poppins", sans-serif;
  font-style: normal;
  text-align: left;
  position: absolute;
  text-decoration: none;
  border-width: 305px;
  border-top: 806px;
  border-left: 113px;
  height:60px;
  padding: 4px 20px;
  border-radius: 45px;
  border: 3px solid #FFFFFF;
}

.gambardashboard {
  box-sizing: border-box;
  width: 616px;
  height: 794px;
  top: 191px;
  left: 770px;
  position: absolute;
}

.hero-section{
  background: #dbdbdb;
  width: 100%;
  height: 1024px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.background5 {
  width: 619px;
  height: 598px;
  left:60px;
  top:179px;
  position: absolute;
  flex-shrink: 0;
  border-radius: 619px;
  background: rgba(8, 14, 43, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.background6{
  width: 238px;
  height: 216px;
  left:-91px;
  top:71px;
  position: absolute;
  flex-shrink: 0;
  fill: rgba(8, 14, 43, 0.90);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

.background7{
  width: 85px;
  height: 78px;
  left:177px;
  top:54px;
  position: absolute;
  fill: rgba(14, 11, 49, 0.90);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-information h3{
  height: 115px;
  border-width: 567px;
  border-left: 773px;
  border-top: 188px;
  border-radius: 35px;
  border: 2px solid #000;
  background: #FFE55E;
  position: absolute;
  color: #080E2B;
  font:700 28px Poppins;
  font-style: normal;
  line-height: 42px;
  text-align: left;
  padding:16px 16px;
  top: 207px;
  left: 775px;
}

.hero-information1 h4{
  width: 179px;
  height: 35px;
  top: 343px;
  left: 856px;
  position: absolute;
  font-family:"Poppins", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #000000;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-information1 p{
  width: 467px;
  height: 35px;
  top: 385px;
  left: 856px;
  flex-shrink: 0;
  position: absolute;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.idea{
  width: 47px;
  height: 39px;
  top: 366px;
  left: 783px;
  position: absolute;
}

.hero-information2 h4{
  width: 194px;
  height: 35px;
  top: 495px;
  left: 856px;
  position: absolute;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.hero-information2 p{
  width: 467px;
  height: 35px;
  top: 537px;
  left: 856px;
  flex-shrink: 0;
  position: absolute;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.workstation{
  width: 47px;
  height: 39px;
  top: 520px;
  left: 783px;
  position: absolute;
}

.hero-information3 h4{
  width: 224px;
  height: 35px;
  top: 645px;
  left: 856px;
  position: absolute;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.hero-information3 p{
  width: 467px;
  height: 35px;
  top: 687px;
  left: 856px;
  flex-shrink: 0;
  position: absolute;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.tuition{
  width: 47px;
  height: 39px;
  top: 667px;
  left: 783px;
  position: absolute;
}

.guy-with-backpack-and-laptop {
  width: 362px;
  height: 771px;
  top: 178px;
  left: 60px;
  position: absolute;
}

.young-woman-talking-online{
  width: 382px;
  height: 431px;
  top: 444px;
  left: 338px;
  position: absolute;
}

.ai-data-analysis {
  width: 272px;
  height: 283px;
  top: 155px;
  left: 390px;
  position: absolute;
}

.navigation .welcome {
  color: #FAFF00;
  text-align: left;
  font-family: Poppins;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  width: 385px;
  height: 53px;
  display: flex;
  align-items: center;
}

.section1{
  width:100%;
  height: 539px;
}

.backgroundsection1-1{
  background:#353d68;
  position: relative;
  width: 791px;
  height: 539px;
  float: left;
}

.line1-section1-1{
  background: #d9d9d9;
  width: 605px;
  height: 2px;
  top:43px;
  position: absolute;
}

.line2-section1-1{
  background: #d9d9d9;
  width: 2px;
  height: 397px;
  left:36px;
  position: absolute;
}

.section1-text{
  text-align: center;
  font: 400 45px "Bebas Neue", sans-serif;
  color:#FFE500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 575px;
  height:124px;
  top:154px;
  left:120px;
}

.quick-30-minute{
  color: #ffffff;
  font: 400 45px "Bebas Neue", sans-serif;
}

.section1-text p{
  color: #fffafa;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(254, 255, 203, 0.30);
  font: 500 29px "Poppins", sans-serif;
  position: relative;
  width: 607px;
  height: 90px;
  top: 35px;
}

.backgroundsection1-2{
  background: #ffe500;
  height: 539px;
  margin-left:791px;
  position: relative;
}

.line1-section1-2{
  width: 403px;
  height: 2px;
  top: 502px;
  left: 155px;
  position: absolute;
}

.line2-section1-2{
  width: 2px;
  height: 302px;
  top: 236px;
  left: 515px;
  position: absolute;
}

.img-section1-2-1{
  width: 300px;
  height: 315px;
  top:0px;
  left: 200px;
  transform: rotate(15.175deg) scale(1, 1);
  position: absolute;
}

.img-section1-2-2{
  width: 340px;
  height: 435px;
  top:55px;
  left:40px;
  position: absolute;
}


.section2-text{
  color: #000000;
  text-align: left;
  font: 700 33px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 110px;
  width: 534px;
  height: 75px;
  left: 109px;
}

.search{
  background: #fff9f9;
  width: 265px;
  height: 45px;
  top: 56px;
  left: 983px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.img-search{
  width: 61px;
  height: 35px;
  top:5px;
  left:204px;
  position: relative;
}

.container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1em;
}

.box{
  background: #ffffff;
  border-radius: 22px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  position: relative;
  width: 400px;
  height: 506px;
  top: 138px;
  left: 25px;
  text-align: center ;
}

.ellipse-learning{
  border-radius: 0px;
  top:28px;
  left:21px;
  position: absolute;
  overflow: visible;
}

.img1-learning{
  top:20px;
  left:1px;
  position: absolute;
}

.img1-learning2{
  width: 364px;
  height: 270px;
  left:1px;
  position: absolute;
}

.img1-learning3{ 
  width: 380px;
  height: 280px;
  top:1px;
  left:30px;
  position: absolute;
  transform: rotate(9.78deg) scale(1, 1);
}

.img1-learning31{
  width: 82px;
  height: 111px;
  top:40px;
  left:35px;
  position: absolute;
}

.img1-learning32{
  width: 65px;
  height: 104px;
  top:25px;
  left:50px;
  transform-origin: 0 0;
  transform: rotate(-28.399deg) scale(1, 1);
  position: absolute;
}

.img1-learning4{ 
  width: 357px;
  height: 348px;
  position:relative;
}

.img1-learning6{ 
  width: 364px;
  height: 267px;
  position:relative;
}

.img1-learning7{ 
  width: 388px;
  height: 274px;
  top:1px;
  left:1px;
  position: absolute;
}

.img1-learning8{ 
  width: 355px;
  height: 300px;
  left:1px;
  position:absolute;
}

.img1-learning9{ 
  width: 400px;
  height: 290px;
  left:1px;
  position:absolute;
}

.text1-learning1{
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 275px;
  left: 22px;
}

.img2-learning{
  width: 25px;
  height: 25px;
  left:30px;
  top:351px;
  position: absolute;
}

.text2-learning{
  color: #000000;
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  left:70px;
  top:318px;
}

.text22-learning{
  color: #000000;
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  left:70px;
  top:283px;
}

.img3-learning{
  width: 25px;
  height: 25px;
  left:30px;
  top:376px;
  position:absolute;
}

.text3-learning{
  color: #000000;
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  left:70px;
  top:320px;
}

.text32-learning{
  color: #000000;
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  left:70px;
  top:285px;
}
  
.img4-learning{
  width: 25px;
  height: 25px;
  left:30px;
  top:401px;
  position:absolute;
}

.text4-learning{
  color: #000000;
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  left:70px;
  top:322px;
}

.text42-learning{
  color: #000000;
  text-align: left;
  font: 500 15px "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  left:70px;
  top:287px;
}

.testimoni{
  background: rgba(144, 20, 20, 0.87);
  width: 100%;
  height: 736px;
  top:220px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.img-testimoni{
  width: 73.81px;
  height: 75.82px;
  top:45px;
  left:387px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-39.485deg) scale(1, 1);
}

.testimoni h2{
  color: #ffffff;
  text-align: center;
  top:45px;
  left:40px;
  font: 700 26px "Poppins", sans-serif;
  position: relative;
}

.background-img1-testimoni{
  position: relative;
  width: 266.44px;
  height: 250.59px;
  top:340px;
  left: 83.12px;
  transform: rotate(-95.619deg);
  transform: translate(-20.54px, -279.06px);
  overflow: visible;
}

.img1-testimoni{
  border-radius: 123px;
  width: 243px;
  height: 228px;
  top:150px;
  left:100px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-13.604deg) scale(1, 1);
}

.boxtext1-testimoni{
  border-radius: 35px;
  border-style: dashed;
  border-color: #ffffff;
  border-width: 1px;
  width: 774px;
  height: 168px;
  top:10px;
  left:388px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boxtext1-testimoni p{
  color: #ffffff;
  text-align: justify;
  font: 500 italic 20px "Poppins", sans-serif;
  position: relative;
  width: 738px;
  height: 233px;
  left:16px;
  align-items: center;
}

.img3-testimoni{
  width: 200px;
  height: 292px;
  top:700px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(14.593deg) scale(1, 1);
}

.boxtext2-testimoni{
  border-radius: 35px;
  border-style: dashed;
  border-color: #ffffff;
  border-width: 1px;
  width: 731px;
  height: 180px;
  top:150px;
  left:180px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boxtext2-testimoni p{
  color: #ffffff;
  text-align: justify;
  font: 500 italic 20px "Poppins", sans-serif;
  position: relative;
  width: 688px;
  height: 145px;
  left:16px;
}

.background-img2-testimoni{
  position: relative;
  transform: translate(-334.11px, -217.04px);
  top:10px;
  left:1257px;
  overflow: visible;
}

.img2-testimoni{
  border-radius: 279px;
  width: 277px;
  height: 275px;
  top:280px;
  left:980px;
  position:absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(10.332deg) scale(1, 1);
}

.img4-testimoni{
  width: 211.54px;
  height: 135.99px;
  top:225px;
  left:662px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(23.196deg) scale(1, 1);
}

.img-bg{
  width: 100%;
  height: 1440.11px;
  position: absolute;
  transform-origin: 0 0;
  Rotation:90.11°;
  filter: blur(1px);
  z-index: -1;
}

.img-bg h2{
  color: #ffffff;
  text-align: center;
  font: 400 45px "Abhaya Libre ExtraBold", sans-serif;
  position: relative;
  width: 1100px;
  height: 85px;
  top: 629px;
  left: 150px;
}

.img-bg p {
  text-align: center; 
  color: #FFFFFF; 
  font: 700 italic 21px "Averia Serif Libre", sans-serif;
  text-transform: lowercase;
  position: relative;
  width: 670px;
  height: 24px;
  top: 669px;
  left: 350px;
}

.img-cu1{
  position: relative;
  transform: translate(-140.97px, 21.85px);
  overflow: visible;
  top:1150px;
  left:130px;
}

.ellipse-17{
  position: absolute;
  overflow: visible;
  top:1622px;
  left:50px;
}

.ellipse-15{
  position: absolute;
  overflow: visible;
  top: 1400px;
  left: 128px;
}

.contact{
  width: 443px;
  height: 554px;
  top:1000px;
  left: 100px;
  flex-shrink: 0;
  background-color: #9B3B3B;
  position:relative;
  border-radius: 18px;
}

.contact-information{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-information{
  position: relative;
  display: flex;
}

.contact-information h2{
  color: #faff00;
  font: 700 23px "Poppins", sans-serif;
  text-transform: uppercase;
  top: 55px;
  left: 45px;
  position: relative;
}

.contact-info{
  color: #ffffff;
  width: 150px;
  height: 22px;
  top: 90px;
  left: 25px;
  margin-bottom: 75px;
  font: 700 18px "Averia Serif Libre", sans-serif;
  letter-spacing: 0em;
  position: relative;
}

.line{
  color: #000;
  width: 46px;
  height: 0.24px;
  top: 1192.87px;
  left: 158px;
  margin: 8px 0;
  angle: 0.29 deg;
}

.text-contact-info{
  color: #ffffff;
  width: 296px;
  height: 24px;
  top: 881px;
  left: 156px;
  margin-bottom:100px;
  font: 500 15px "Montserrat", sans-serif;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.img-contact-info{
  display: flex;
  flex-direction: row;
  padding:12px;
  left: 135px;
}

.img-suport{
  width: 127px;
  height: 128px;
  top: 500px;
  left: 556px;
  overflow: visible;
  position:absolute;
}

.main-user-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top:20px;
}

.user-input-box{
  width: 610px;
  height: 51px;
  top:600px;
  left:723px;
  margin-bottom: 45px;
  position: relative;
} 

.user-input-box-m{
  width: 610px;
  height: 296px;
  top:600px;
  left:723px;
  margin-bottom: 45px;
  position: relative;
}

.user-input-box input{
  background: rgba(240, 116, 99, 0.7);
  border-radius: 30px;
  width: 610px;
  height: 51px;
  color: rgba(255, 255, 255, 0.2);
  text-align:justify;
  font: 500 18px "Poppins", sans-serif;
  padding:0px 10px;
  position: relative;
}

.user-input-box input:focus {
  color: black;
}

.user-input-box-m textarea{
  background: rgba(240, 116, 99, 0.7);
  border-radius: 30px;
  width: 610px;
  height: 296px;
  color: rgba(0, 0, 0, 0.2); 
  align-items: start;
  font: 500 18px "Poppins", sans-serif;
  padding:10px 10px;
  position: relative;
}

.user-input-box-m textarea:focus {
  color: black;
}

.form-submit-btn{
  width: 268px;
  height: 51px;
  top:600px;
  left:723px;
  margin-bottom: 45px;
  position: relative;
}

.form-submit-btn input{
  background: rgba(135, 10, 10, 0.7);
  border-radius: 30px;
  width: 268px;
  height: 51px;
  font: 700 18px "Poppins", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.sosmed{
  background: #722e18;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 76px;
  top:872px;
  position: relative;
}

.sosmed h4{
  left:72px;
  position: relative;
  text-align: left;
  font: 600 23px "Poppins", sans-serif;
  align-items:center;
  color: rgba(255, 255, 255, 0.8);
}

.img-sosmed{
  display: flex;
  flex-direction: row;
  width: 41px;
  height: 30px;
  left:50px;
  position: relative;
  padding:0px 30px;
}

.footer {
  background: #813939;
  width: 100%;
  height: 139px;
  top:870px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-bottom: 10px;
}

.txt-logo{
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font: 500 23px "Poppins", sans-serif;
  position: relative;
}

.footer-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
  position: relative;
}

.footer-menu a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  top:18px;
  font: 500 23px "Poppins", sans-serif;
  position: relative;
}

.bg-aboutus{
  width: 100%;
  height: 1006.747px;
  top: -228px;
  left: -10px;
  flex-shrink: 0;
  fill: rgba(214, 82, 82, 0.95);
  position: absolute;
  overflow: visible;
  filter: blur(1px);
  z-index: -1;
}

